.spinner {
    visibility: hidden;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
    color: rgb(139, 139, 139);
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
  }
  .spinner::after,
  .spinner::before {
    content: '';  
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: rgb(85, 85, 85);
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
  }
  .spinner::before {
    animation-delay: 0.4s;
    left: 60px;
  }
  
  @keyframes animloader {
    0% {
      top: 0;
      color: rgb(44, 44, 44);
    }
    50% {
      top: 30px;
      color: rgba(255, 255, 255, 0.2);
    }
    100% {
      top: 0;
      color: rgb(66, 66, 66);
    }
  }
      
  .alert {
    visibility: none;
    margin-top: 64px;
    padding: 20px;
    background-color: #36c5f4;
    color: white;
    z-index: 1000;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    /* float: right; */
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }